.google_container{
    width:100%;
    /* margin: auto;  */
 
    height: 90vh;
    box-shadow: 0 1px 12px 8px rgba(0, 0, 0, 0.1);
    /* max-width: calc(100%); */
    /* text-align: center; */
}

.google_inner_con{
    width: 80%;
    margin:0 auto;
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center; 
  
}

.google_image{
    display: block;

    margin:0 auto;
    width: 20%;
    height: 20%;

}

.google_head{
    /* margin:0px; */
    padding:0 80px;
    color:#7c7b7e;
    font-size:24px;
    
}
.google_para{
    margin-top: 0px;
    color:#9b9b9e;
}

.google_sigin_button{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #F095BE;
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
    color:#F095BE;
}