.search_container_flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    /* width: 50%; */
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 5px;
}

.search_bar{
    margin: 0 10px;
    width:439px;
    padding:10px 20px;
    border-radius: 25px;
    background-color: #F0F2F5;
    border:none;

}
input:focus, textarea:focus, select:focus{
    outline: none;
}


.user_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.addcommentbtn{
    padding:  5px 10px;
    border:none;
    border-radius: 50%;
    color:white;
    background-color:#2196F3;

}

@media only screen and (max-width:768px){
    .search_container_flex{
        justify-content: center;
    }
    .search_container{
        text-align: center;
        margin: 0 auto;
        margin-top:40px;
        /* margin:0px 20px; */
        margin-bottom: 40px;
        /* width: 100%; */
    
    }
    .search_bar{
        max-width: 300px;
    padding:5px 10px;

    }

    .flex_con_three{
        display: flex;
        flex-direction: column;
    }
    .gallery i{
        /* padding:0px 10px; */
        color:#49BD62;
        font-size: 15px;
    }
    .addcommentbtn{
        /* padding: 5px; */
    
        padding:  2px 5px;
        border:none;
        border-radius: 50%;
        color:white;
        background-color:#2196F3;
    
    }
}
 
@media only screen and (max-width: 425px) {
    .user_image{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left:10px;
    
    }
    .search_container{
        text-align: center;
        margin: 0 auto;
        margin-top:40px;
        /* margin:0px 20px; */
        margin-bottom: 40px;
        /* width: 100%; */
    
    }
    .search_bar{
        width: 120px;
    padding:5px 10px;

    }

    .flex_con_three{
        display: flex;
        flex-direction: column;
    }
    .gallery i{
        /* padding:0px 10px; */
        color:#49BD62;
        font-size: 15px;
    }
    .addcommentbtn{
        /* padding: 5px; */
    
        padding:  2px 5px;
        border:none;
        border-radius: 50%;
        color:white;
        background-color:#2196F3;
    
    }
    
  }

  @media only screen and (max-width: 1024px) {
    .user_image{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left:10px;
    
    }
    .search_container{
        text-align: center;
        margin: 0 auto;
        margin-top:40px;
        /* margin:0px 20px; */
        margin-bottom: 40px;
        /* width: 100%; */
    
    }
    .search_bar{
        width: 300px;
    padding:5px 10px;

    }

    .flex_con_three{
        display: flex;
        flex-direction: column;
    }
    .gallery i{
        /* padding:0px 10px; */
        color:#49BD62;
        font-size: 15px;
    }
    .addcommentbtn{
        /* padding: 5px; */
    
        padding:  2px 5px;
        border:none;
        border-radius: 50%;
        color:white;
        background-color:#2196F3;
    
    }
    
  }
