.feed_container{
    /* text-align: center; */
    color:#5a5a5a;
    padding: 20px;
    margin: 20px;
    margin-bottom: 40px;
    padding-bottom:10px;
    background-color: #fff;
    border-radius: 12px;
}

.user_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
.search_container_flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 50%; */
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 5px;
}
.search_bar{
    margin: 0 10px;
    width:500px;
    padding:5px 20px;
    border-radius: 25px;
    background-color: #F0F2F5;
    border:none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}



.usersuggestioncontainer{
    margin:15px 0px; 
    text-align: center;
}

.link_user{
    text-decoration: none;
    color:black;
}

.link_user:hover{
    color: black;
}

.post_image{
    text-align: center;
    margin-bottom:10px ;
    width: auto;
}


.post_image img{
    width: 100%;
    border-radius: 15px;
    height: 350px;
}

hr{
    margin:5px 0;
}

.flex_container_one{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;


}

.flex_inner_item{
    display: flex;
}

.flex_inner_one_container{
    display: flex;
    flex-direction: column;
}

.flex_container_two{
    display: flex;
    justify-content: space-between;
}

.flex2_item_one{
    display: flex;
}
.flex2_item_two{
    cursor: pointer;
}

.btn_container{
    display: flex;
    justify-content: space-evenly;
}

.btn_container button{
    border: none;
    padding: 10px;
    background-color: #fff;
    color:#666D75;
}

.like_btn i{
    font-size: 22px;
    padding: 0 5px; 
}
.dislike_btn i{
    border:1px solid #b8babb;
    border-radius: 50%;
    /* font-size: 22px; */
    margin: 0 5px;
    padding: 5px; 
}

.comment_btn i{
    font-size: 22px;
    padding: 0 5px; 
}

.btn_container span{
    font-size: 20px;
}

.flex_inner_one_container{
    margin: 0 10px;
}


.flex_item_two{
    /* background-color:#F2F2F2;    */
    /* color:#6E747C; */
    text-align: center;
    font-size: 18px;
    /* padding:10px 10px; */
    /* margin:0 10px; */
    border-radius: 50%; 
}

.flex2_item_two button{
    border: none;
    background-color: #fff;
    
}

.spanone{
    color:#40C06D;
    background-color:#F2F2F2;
    margin-right: 10px;
    padding:8px 10px;
    border-radius:50% ;
    border: none;
}

.spantwo{
    color:#C72323;
    border-radius:50% ;
    border: none;

    background-color:#F2F2F2;
    padding:8px 10px;
    margin-right: 10px;

}

.spanthree{
    border-radius:50% ;
    padding: 8px 10px;
    background-color:#F2F2F2;
    border: none;

}

.islikedpost{
    color:#4EB0F4;
    /* background-color: #4EB0F4; */
}

.isdislikedpost{
    background-color: #E9385F;
    color:#fff;
}

.reportdiv{
    position: absolute;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 12px;
}

.reportdiv i{
    color: #C72323;
    margin-right: 10px;
}






@media only screen and (max-width: 425px) {
    .like_btn span{
        font-size: 14px;
    }
    .dislike_btn span{
        font-size: 14px;
    }
    .comment_btn span{
        font-size:14px;
    }
.like_btn i{
    font-size: 14px;
    padding: 0 5px; 
}
.dislike_btn i{
    font-size: 14px;
    border:1px solid #b8babb;
    border-radius: 50%;
    /* font-size: 22px; */
    margin: 0 5px;
    padding: 3px; 
}

.comment_btn i{
    font-size: 14px;
    padding: 0 5px; 
}
    
  }
