.loginpage_container{
  
   width: 100%;
  display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
   
}

.loginpage_flex_one{
  width: calc((1200px)/2);
   
    
  }
  
.loginpage_flex_two{
    width: calc((1200px)/2);
    
} 

@media only screen and (max-width: 768px) {
  .loginpage_container{
  
    width: 100%;
    margin-top:150px ;
   /* display: flex; */
   flex-direction: column;
     /* justify-content:space-evenly; */
     align-items: center;
     /* height: 100vh; */

 }
 
}