.navbar_logo{
    height: 50px;
    width: 50px;

}


.user_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user_icon,.chat_icon{
    padding: 10px;
    background-color: #E4E6EB;
    border-radius: 50%;
    margin: 0 5px;
}

.link_user{
    text-decoration: none;
    color:black;
    
}

.link_user:hover{
    color: black;
}

.navbar_right_side{
    float: right;
    padding:8px 0px;    
    
}

.display_container{
    z-index: 2;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    width: 150px;
    display: flex;
    flex-direction: column;
    
}
.display_container a{
    padding: 10px 20px;
    margin-bottom:10px ;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    background-color: #2196F3;
}

.display_container_visible{
    display:block;
}

.showbtn{
    border: none;
    background: none;
}