.userprofilecontainer{
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 80px;
    padding-bottom:40px ;
}
.cover_img_con{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width:100%;
    height: auto;

}
.cover_img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    display: block;
    /* object-fit:none; */
    height: 40vh;
    /* position: relative; */
}

.profile_img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    position: relative;
    margin-top:-100px;
    margin-left: 25px;
    display: block;
}


.input_image i{
    border: 1px solid #1977F3;
    border-radius: 50%;
    padding: 20px;
    color:#545871;
    position: absolute;
    left:170px;
    bottom:0;
    background-color: #fff;
    
}

.profile_img_con{
    /* width: 100%; */
    position: relative;
}


.user_name{
    margin-left: 25px;
}

.form_container{
    margin-left: 25px;
    color:#C4C5CE;
}